/*Add CSS styles here*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 960px;
    margin: 15px auto;
}   

#map {
    height: 450px;
    margin: 15px auto
}